{
  "printWidth": 140,
  "proseWrap": "always",
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "embeddedLanguageFormatting": "auto"
}